
* {
  margin: auto;
  padding: 0;
  margin-top: 7px;
  margin-bottom: 7px;
  text-align: center;
  box-sizing: border-box;
}
body {
  background-image: url(img/fondo.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  text-align: center;
  width: 80%;
}
header {
    background-color: rgba(234, 237, 237, 0.8);
    color: #373F3F;
    padding: 8px;
}
header h1 {
  font-size: 250%;
  font-family: 'Fredoka One', cursive;
 }
header h3 {
  font-size: 100%;
  font-family: 'Josefin Sans', sans-serif;
}
section {
  padding:20px 10px;
  background-color: rgba(196, 221, 157, 0.8);
  font-size: 120%;
}
section h4 {
  display: block;
  font-family: 'Josefin Sans', sans-serif;
  color: #2C0F0D;
}
#inpText, #OutTextEncode {
  width: 50%;
  display: block;
  padding: 7px;
  border-radius: 10px;
}
#inpOffset {
  width: 15%;
  display: block;
  padding: 7px;
  border-radius: 10px;
}
#ButtonEncode, #ButtonDecode {
  display: inline-block;
  cursor: pointer;
  height:96px;
  width:96px;
  background-position:center;
  border-radius: 10px;
  border-color: #F4F008;
}
#ButtonEncode {
  background-image: url(img/cifrarbut.jpg);
}
#ButtonDecode {
  background-image: url(img/descifbut.jpg);
}
