
* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url(img/Food.jpg);
  background-size: cover;
  background-attachment: fixed;
  margin: 0 auto;
  text-align: center;
}
.contenedor {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}
header {
    background-color: rgba(238, 203, 103, 0.5);
    background-attachment: fixed;
    align-content: center;
    width: 100%;
    margin-top:10px ;
    box-sizing: border-box;
}
header h1 {
  color: #095D61;
  padding: 10px 0;
  font-size: 300%;
  font-family: 'Fredoka One', cursive;
  text-emphasis-color: blue;
}
header h4 {
  padding: 10px 0;
  font-size: 100%;
  font-family: 'Josefin Sans', sans-serif;
  color: #0A784C;
}
.main {
  margin-top: 30px;
  width: 100%;
  padding:20px 10px;
  background-color: rgba(128, 116, 85, 0.3);
  font-size: 20px;
  box-sizing: border-box;
}
.main h4 {
  display: block;
  font-family: 'Josefin Sans', sans-serif;
  margin-bottom: 10px;
  margin-top: 10px;
  color: #0A784C;
}
#inpText, #OutTextEncode {
  width: 50%;
  display: block;
  margin:auto;
  padding: 7px;
  border-radius: 10px;
}
#inpOffset{
  width: 30%;
  display: block;
  margin:auto;
  padding: 7px;
  margin-bottom: 10px;
  border-radius: 10px;
}
#ButtonEncode, #ButtonDecode {
  display: inline-block;
  cursor: pointer;
  height:96px;
  width:96px;
  background-position:center;
  border-radius: 10px;
  border-color: #F4F008;
  margin-bottom: 10px;
}

#ButtonEncode {
  background-image: url(img/cifrarbut.jpg);
}
#ButtonDecode {
  background-image: url(img/descifbut.jpg);
}
